/* default properties for navigation */
nav ul {
  display: flex;
  border: 2px solid lightgray;
  padding: 0;
}

nav ul li {
  border: 2px solid lightseagreen;
  border-radius: 2px;
  background-color: lightblue;
  padding: 0.5em;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  list-style-type: none;
  text-align: center;
}

/* Example 1: Flex navigation with equal space between items */
nav.first ul {
  justify-content: space-between;
}

/* Example 2: Flex navigation with equal width items filling space */
nav.second ul {
  justify-content: space-around;
}

nav.second ul li {
  flex: 1;
}

/* Example 3: Just like example 2, but with a gap */
nav.third ul {
  justify-content: space-around;
  gap: 1em;
}

nav.third ul li {
  flex: 1;
}

/* Example 4: Just like example 3, but third item is longer */
nav.fourth ul {
  justify-content: space-around;
  gap: 1em;
}

nav.fourth ul li {
  flex: 2 2 auto;
}

nav.fourth ul li.third {
  flex: 1 1 auto;
}